name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: tar -czf dist.tar.gz dist
      - run: npx conventional-changelog -p angular -i CHANGELOG.md -s
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add CHANGELOG.md
          git commit -m "chore: update changelog for release"
          git push origin HEAD:main
      - uses: softprops/action-gh-release@v2
        with:
          files: dist.tar.gz
          body_path: CHANGELOG.md
